setuptools
lightning
torchmetrics
torchinfo
wandb
scipy
ray-tune
optuna
cuda-nvcc
numpy
pandas
matplotlib
bokeh
seaborn
jupyter
jupyterlab
ipython
ipywidgets
wandb
datasets
transformers
tensorboard
gradio
streamlit
onnx
onnxruntime
selectivesearch
gradient
black
flake8
torch-tb-profiler
click
