setuptools
lightning
torchmetrics
torchinfo
wandb
scipy
ray[tune]
optuna
numpy
pandas
matplotlib
bokeh
seaborn
wandb
datasets
transformers
tensorboard
gradio
streamlit
onnx
onnxruntime
selectivesearch
gradient
click
