setuptools
torch
torchvision
torchaudio
lightning
torchmetrics
torchinfo
wandb
scipy
ray[tune]
optuna
numpy
pandas
matplotlib
bokeh
seaborn
jupyter
jupyterlab
ipython
ipywidgets
datasets
transformers
tensorboard
gradio
streamlit
onnx
onnxruntime
opencv-python
imgaug
albumentations
selectivesearch
gradient
black[jupyter]
flake8
torch-tb-profiler
click
